<?xml version="1.0"?>
<config>
  <modules>
    <Universal_UniversalExt>
      <version>0.1.0</version>
    </Universal_UniversalExt>
  </modules>
  <frontend>
    <routers>
      <universalext>
        <use>standard</use>
          <args>
            <module>Universal_UniversalExt</module>
            <frontName>universalext</frontName>
          </args>
      </universalext>
    </routers>
		<layout>
		  <updates>
			<universalext>
			  <file>universalext.xml</file>
			</universalext>
		  </updates>
		</layout>
  </frontend>
  <global>
    <helpers>
      <universalext>
        <class>Universal_UniversalExt_Helper</class>
      </universalext>
    </helpers>
	<blocks>
	  <universalext>
		<class>Universal_UniversalExt_Block</class>
	  </universalext>
	</blocks>
	<resources>
	  <universalext_setup>
		<setup>
		  <module>Universal_UniversalExt</module>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </universalext_setup>
	  <universalext_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </universalext_write>
	  <universalext_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </universalext_read>
	</resources>
  </global>
  <admin>
	<routers>
	  <universalext>
	    <use>admin</use>
		<args>
		  <module>Universal_UniversalExt</module>
		  <frontName>admin_universalext</frontName>
		</args>
	  </universalext>
	</routers>
  </admin>
  <adminhtml>
	<menu>
	  <universalext module="universalext">
		<title>UniversalExt</title>
		<sort_order>100</sort_order>
		<children>
		  <universalextbackend module="universalext">
			<title>Universal</title>
			<sort_order>0</sort_order>
			<action>admin_universalext/adminhtml_universalextbackend</action>
		  </universalextbackend>
		</children>
	  </universalext>
	</menu>
	<acl>
	  <resources>
		<all>
		  <title>Allow Everything</title>
		</all>
		<admin>
		  <children>
			<universalext translate="title" module="universalext">
			  <title>UniversalExt</title>
			  <sort_order>1000</sort_order>
			  <children>
		  <universalextbackend translate="title">
			<title>Universal</title>
		  </universalextbackend>
			  </children>
			</universalext>
		  </children>
		</admin>
	  </resources>
	</acl>
	<layout>
	  <updates>
		<universalext>
		  <file>universalext.xml</file>
		</universalext>
	  </updates>
	</layout>
  </adminhtml>
</config> 